body
{
background-image:url('http://us.cdn1.123rf.com/168nwm/antonuk/antonuk0910/antonuk091000010/5649435-vector-de-fondo-sin-fisuras-con-las-nubes-en-el-cielo-azul.jpg');
background-color:gray;
}
#contenido
{
position: absolute;
width : 60%;
height: 60%;
left: 20%;
top: 20%;
text-align: center;
background-color: rgba(209, 209, 209, 0.5);
-moz-box-shadow: 2px 2px 5px #999;
    -webkit-box-shadow: 2px 2px 5px #999;
    box-shadow: 2px 2px 5px #999;
display: table-cell;
     vertical-align: middle;
valing: middle;
}

img {
transform:rotate(-15deg);
-ms-transform:rotate(-15deg); /* IE 9 */
-webkit-transform:rotate(-15deg); /* Safari and Chrome */
position: absolute;
left: 75%;
bottom: 10%;
width:10%;
}

form
{
position:absolute;
top: 35%;
left: 5%;
}

#lic
{
position: absolute;
left:5px;
bottom: 5px;
text-align: left;
}

span
{
text-shadow: 0.1em 0.1em #333
}